.formBlock {
  width: 100%;
  margin-bottom: 10px;

  input {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 95%;
    margin: 10px 0px 0px 0px;
  }
}

.error_label {
  color: #f44336;
  display: block;
  font-size: 15px;
}
