.my_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: 1px rgb(209, 204, 204) solid;
  text-transform: uppercase;
  padding: 10px;
  background: #e1ddc3;
  margin-top: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.link_default {
  text-transform: uppercase;
  padding: 5px;
  display: table;
  background: #e1ddc3;
  margin-top: 10px;
}
