.load_more_container {
  clear: both;
  margin-bottom: 50px;

  border-top: 5px solid #f5f5f5;
  padding-top: 20px;

  span {
    cursor: pointer;
    background: #2196f3;
    color: #ffffff;
    font-size: 27px;
    padding: 10px 60px;
    display: table;
    margin: 0 auto;
  }
}
