.container {
  width: 1100px;
  margin: 0 auto;

  .shop_wrapper {
    display: flex;

    .left {
      flex-grow: 1;
    }
    .right {
      width: 800px;

      .shop_options {
        border-bottom: 1px solid #e8e8e8;
        margin: 0px 20px 20px 20px;
        .shop_grids {
          .grid_btn {
            float: right;
            padding: 10px 10px;
            font-size: 20px;
            color: #c6c6c6;
          }
          .grid_btn {
            float: right;
            padding: 10px 10px;
            font-size: 20px;
            color: #c6c6c6;
          }
          .active {
            color: #727272;
          }
        }
        .clear:after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .card_container {
        .grid_bars {
          float: none;
          width: 100%;
          display: inline-flexbox;
          .card_item_wrapper {
            float: none;
            width: 100%;
            display: flex;

            .action_container {
              display: block;
              flex-grow: 1;
              border: 1px solid #e6e6e6;

              .image {
                width: 420px;
                height: 211px;
                border: none;
                position: relative;
                float: left;
              }

              .description {
                clear: both;
                padding: 0px 25px;
                border-top: 1px solid #eeeeee;
              }

              .tags {
                border-bottom: 0px;
                padding: 5px 20px;

                .brand {
                  font-size: 21px;
                  float: left;
                }
                .name {
                  float: left;
                }
                .price {
                  float: right;
                }
              }
            }
          }
        }
      }
    }
  }
}
